
{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">

        <p class="m-0 text-center text-white">Copyright &copy; www.jackli.online 2019&nbsp;Jackli-liang的小站</p>
        <p class="mb-0 text-center text-white">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a> &
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap
                </a>
                <span class="mb-0">&nbsp;鄂ICP备19027173号</span>
            </p>
    </div>
</footer>